.editableArea{
    font-size: inherit;
    position: relative;
}
.editableArea>button{
    display: none;
}
.editableArea:hover>button{
    display: inline;
    position: absolute;
    bottom:10%;
    left: 100%;
    z-index: 1;
}