.pop{
    position: fixed;
    top: 0;left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: flex;justify-content: center;align-items: center;
}

.pop form{
    position: relative;
    height: 500px;width: 420px;
    border:1px dashed red;
    border-right: 6px;
    background: white;
}
.pop form .close{
    background:rgb(158, 230, 252);
    color: rgb(94, 84, 84);
    border-radius: 12px;
    line-height: 20px;
    text-align: center;height: 22px;width: 22px;
    font-size: 17px;
    padding: 0px;
    top: 2%;
    right: 3%;
    position: absolute;
    cursor: pointer;
}
.pop form .close::before {
    content: "\2716";
}
.pop form h1{
    text-align: center;
    margin: 16px 0;
}
.pop  footer{
    border: 1px solid red;
    background: rgb(246, 246, 246);
    height: 60px;
    display: flex;align-items: center;justify-content: center;
}
.pop footer a{
    color: rgb(103, 183, 248)
}