<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线简历编辑器</title>
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/editableArea.css">
    <link rel="stylesheet" href="./css/pop.css">
    <link rel="stylesheet" href="./css/share.css">
    <link rel="stylesheet" href="./css/print.css" media="print">
</head>

<body>
    <div class="page" id="app">
        <aside v-show="!ifPreview">
            <ul class="up">
                <li> <button @click="clickSave">保存</button></li>
                <li> <button @click="if(AV.User.current()){shareVisible=true}else{loginVisible=true}">分享</button></li>
                <li> <button @click="print">打印</button></li>
                <li> <button>换肤</button></li>
            </ul>
            <div class="down" v-cloak>
                <button @click="onLogout" v-show="currentUser.id">注销</button>
            </div>
        </aside>

        <main>
            <div class="resume">
                <section class="profile">
                    {{resume.skills}}
                    <h1>
                        <editable-area :preview="ifPreview" :value='resume.name' v-on:edit='onEdit(`name`,$event)'></editable-area>
                    </h1>
                    <!--y和resume.name 都是父组件的属性，不能写子组件内部的东西？-->
                    <p>应聘职位：<editable-area :preview="ifPreview" :value='resume.job' v-on:edit='onEdit(`job`,$event,x)'>
                    </p>
                    <p>
                        <editable-area :preview="ifPreview" :value='resume.age' v-on:edit='onEdit(`age`,$event)'></editable-area>
                        |
                        <editable-area :preview="ifPreview" :value='resume.gender' v-on:edit='onEdit(`gender`,$event)'></editable-area>
                        |
                        <editable-area :preview="ifPreview" :value='resume.email' v-on:edit='onEdit(`email`,$event)'></editable-area>
                        |
                        <editable-area :preview="ifPreview" :value='resume.phone' v-on:edit='onEdit(`phone`,$event)'></editable-area>
                    </p>
                </section>
                <section class="skills">
                    <h1>个人技能</h1>
                    <ul>
                        <li v-for="skill,index in resume.skills">
                            <editable-area :preview="ifPreview" :value="skill.name" v-on:edit="onEdit(`skills[${index}].name`,$event)">
                            </editable-area>
                            <div>
                                <editable-area :preview="ifPreview" :value="skill.description"
                                    v-on:edit="onEdit(`skills[${index}].description`,$event)"></editable-area>
                            </div>
                            <span class="close" v-if="index>1 && !ifPreview" @click="removeSkill(index)"></span>
                        </li>
                        <li @click="addSkill" class="addSkill" v-if="!ifPreview"><span>添加</span></li>
                    </ul>
                </section>
                <section class="works">
                    <h1>项目经历</h1>
                    <ul>
                        <li v-for="work,index in resume.works">
                            <div>
                                <h4 class="name">
                                    <editable-area :preview="ifPreview" :value="work.name" v-on:edit="onEdit(`works[${index}].name`,$event)">
                                    </editable-area>
                                </h4>
                                <span class="keywords">
                                    <editable-area :preview="ifPreview" :value="work.keywords"
                                        v-on:edit="onEdit(`works[${index}].keywords`,$event)"></editable-area>
                                </span>
                            </div>
                            <div class="workInfo">
                                <span class="description">
                                    <editable-area :preview="ifPreview" :value="work.description"
                                        v-on:edit="onEdit(`works[${index}].description`,$event)"></editable-area>
                                </span>
                                <span class="link">
                                    <editable-area :preview="ifPreview" :value="work.link" v-on:edit="onEdit(`works[${index}].link`,$event)">
                                    </editable-area>
                                </span>
                                <span class="preview">
                                    <editable-area :preview="ifPreview" :value="work.preview"
                                        v-on:edit="onEdit(`works[${index}].preview`,$event)"></editable-area>
                                </span>
                            </div>
                            <span class="close" v-if="index>1 && !ifPreview" @click="removeWork(index)"></span>
                        </li>
                        <li @click="addWork" class="addWork" v-if="!ifPreview"><span>添加</span></li>
                    </ul>
                </section>
            </div>
        </main>
        <div v-show='loginVisible' class="pop" v-cloak>
            <div class="loginFrame">
                <form @submit.prevent="onLogin">
                    <h1>登&nbsp陆</h1>
                    <div class="close" @click='loginVisible=false'></div>
                    <div><input type="text" placeholder="邮箱" v-model="login.userName">
                        <span>用户名不存在</span>
                    </div>
                    <div>
                        <input type="password" placeholder="密码" v-model="login.password">
                        <span>密码错误</span>
                    </div>
                    <button type="submit">登陆</button>
                </form>
                <footer>
                    <span>没有账号？</span><a href="#" @click.prevent='signUpVisible=true;loginVisible=false'>注册</a>
                </footer>
            </div>
        </div>
        <div v-show='signUpVisible' class="pop" v-cloak>
            <div class="loginFrame">
                <form @submit.prevent="onSignUp">
                    <h1>注&nbsp册</h1>
                    <div class="close" @click='signUpVisible=false'></div>
                    <div><input type="text" placeholder="用户名" v-model="signUp.userName"></div>
                    <div><input type="password" placeholder="密码" v-model="signUp.password"></div>
                    <div><input type="password" placeholder="再次输入密码" v-model="signUp.matchPassword"></div>

                    <button type="submit">注册</button>
                    <footer>
                        <span>已有账号？</span><a href="#" @click.prevent='signUpVisible=false;loginVisible=true'>登陆</a>
                    </footer>
            </div>
        </div>
        <div v-show='shareVisible' class="pop" v-cloak>
            <div class="share">
                <div>
                    <input type="text"  readonly v-bind:value="shareUrl" id="copy">
                </div>
                <div>
                    <button type="button" @click="copy">复&nbsp制</button>
                </div>
                <span class="close" @click="shareVisible=false"></span>
            </div>
        </div>
    </div>
    <script src="../node_modules/leancloud-storage/dist/av-min.js"></script>
    <script src="./js/av.js"></script>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script src="./js/editable-area.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>